* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/* Шапка сайта */
body {
	height: 0;
	overflow-x: hidden;
}
header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4rem;
	border-bottom: 1px solid black;
}
/* навигация сайта */
nav {
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	list-style: none;
	width: 63rem;
}

nav img {
	margin: 0.5rem 2rem;
	position: absolute;
	left: 0;
}
nav a {
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
}
button {
	display: flex;
	align-items: center;
	width: 103px;
	height: 48px;
	justify-content: center;
	border-radius: 5px;
	background-color: #42454a00;
	border: none;
	transition: 0.5s all;
}
button:hover {
	background-color: #42454a;
	color: white;
}
.button-block {
	display: flex;
	flex-direction: column;
	width: 0rem;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}
nav a::after {
	content: '';
	background-color: #42454a;
	height: 2px;
	width: 0;
	transition: 0.5s all;
	display: flex;
}
nav a:hover::after {
	width: 100%;
}

.card-text {
	font-size: 35px;
	color: rgb(62, 60, 60);
}
.card-text h1 {
	margin: -32rem 5rem;
}

span {
	font-weight: lighter;
}
.line {
	width: 22%;
	height: 3px;
	background-color: #42454a;
	margin: 36rem 5rem;
}
.bg {
	display: flex;
	justify-content: right;
}
.card-text2 {
	margin: -32rem 5rem;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}
.card button {
	width: 50px;
	height: 50px;
	border-radius: 0px;
	background-color: #42454a;
	margin: 5rem 5rem;
	color: white;
	position: absolute;
	top: 26rem;
	font-size: 20px;
}
.card button:hover {
	transform: scale(1.05);
}
.card label {
	position: absolute;
	margin: 35rem 11rem;
}
.card-text3 {
	color: #42454a;
	margin: -40.5rem 20rem;
	font-family: 'Poppins', sans-serif;
}
.characteristics {
	display: flex;
	margin: 60rem 6rem;
  position: relative;
  top: 14rem;
}
.cards {
	width: 156px;
	height: 37px;
	background: #f2f5f9;
	margin-left: 50px;
	border-radius: 10px;
	text-align: center;
	padding: 3rem 0rem;
}
.cards h3 {
	font-size: 15px;
	margin: -2rem 0rem;
	font-family: 'Poppins', sans-serif;
}
.cards p {
	margin: 3rem 0rem;
	font-family: 'Poppins', sans-serif;
}
span {
	font-size: 28px;
}
.review {
	margin: -36rem 32rem;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	color: #42454a;
}
.review p {
	margin: 1rem -3rem;
	font-size: 20px;
}
.review-img {
	margin: -1rem 15rem;
	width: 200px;
}
.advantages {
	margin: -41rem 3rem;
}
.advantages ul li {
	list-style-image: url(../img/Icon-list.png);
}
.adv li {
	margin: 3rem 6rem;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: #42454a;
	list-style: circle;
}
footer {
	width: 100%;
	height: 30rem;
	background-color: #42454a;
	margin: 55rem 0rem;
}
footer img {
	position: absolute;
	z-index: 1;
	margin: -22rem -1rem;
}
.footer-block-text {
	display: flex;
	gap: 9rem;
	height: 17rem;
	width: 130%;
	align-items: stretch;
	flex-direction: row;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	align-content: center;
	flex-wrap: wrap;
}

.text-footer {
	gap: 1rem;
	display: flex;
	flex-direction: column;
}
.text-footer a {
	color: white;
	text-decoration: none;
}
.text-footer ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 1rem;
}
.text-footer h1 {
	color: white;
}
.contact-img {
	margin: 16rem;
}


#callback {
    width: 298px;
    height: 149px;
    background-color: grey;
    position: fixed;
    bottom: 30px;
    transform: translateX(-100%);
		z-index: 2;
		transition: 0.5s all ;
}
#callback p {
    color: #fff;
    padding: 41px;
}
#callback::after {
    content: "feedback";
		color: white;
    background-color: rgb(53, 53, 53);
    text-align: center;
		font-family: "Poppins ";
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    width: 150px;
    position: absolute;
   	left: 14.8rem;
    top: 3.8rem;
    transform: rotate(-90deg);

}
#callback:hover {
    transform: translateX(0%);
		transition: 0.5s all ;
}